# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/
.venv/

# Flutter/Dart
.dart_tool/
.packages
build/
*.iml
.idea/
.vscode/
*.g.dart
*.freezed.dart

# OS
.DS_Store
Thumbs.db

# Sena Repo data
*.db
covers/
backgrounds/

# Config with secrets
server/config.yaml

# 参考文件
README_Yukihub.md
参考项目源码

#排障用日志以及用户文件
debug
Sena-Repo测试表.xlsx

# TODO
TODO.md